<!-- vote.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vote Button</title>
    <!-- Add any CSS styling here if needed -->
</head>
<body>
    <h1>Vote Button</h1>
    <p>Vote Count: <span id="vote-count">{{ vote_count }}</span></p>
    <form action="/submit_vote" method="post">
        <button type="submit">Vote</button>
    </form>
</body>
</html>
